body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator {
  width: 261px;
  padding: 27px;
  background-color: #221a79;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.display {
  width: 95%;
  height: 64px;
  font-size: 38px;
  background-color: #d9e3f0;
  border: none;
  text-align: right;
  margin-bottom: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 50px;
  font-size: 18px;
  background-color: #000000;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #06407a;
}
